

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    color: #333;
}

.information_layout li {
    list-style-type: none;
}

.information_layout select,input {
    outline: none;
    border: none;
    border-radius: 5rem;
    margin-left: 2rem;
    font-size: medium;
    flex: 1;
    padding: 1rem;
    cursor: pointer;
}

.information_layout span {
    background-color: #08aeea;
    height: .2rem;
    display: inline-block;
    flex: 1;
}

.information_layout label {
    font-weight: 600;
    flex-basis: 30%;
}

.information_layout {
    width: max-content;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}

.information_heading {
    color: #08aeea;
    margin-bottom: 5rem;
}

.information_item {
    display: flex;
    align-items: center ;
    margin-bottom: 1rem;
}

.more_information-block {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.more_information-block p {
    flex: 1;
    text-align: center;
    color: #08aeea;
    cursor: pointer;
}

.btn_xemThucDon {
    width: 100%;
    text-align: center;
    background-color: #f89b2a;
    text-decoration: none;
    padding: 1rem;
    border-radius: 5rem;
    color: white    ;
}

